<div class="container">
    <div class="row">
      <div class="col-12  text-center">
       <h1 class="titulosobre"><strong> Sobre mi</strong></h1> 
      </div>
     </div>
     <div class="row">
        <div class="col-12 text-white text-center textosobre">
            <p>Bienvenidos.Mi nombre es Monica,tengo 41 años y recien estoy empezando con la programacion</p>
        </div>
     </div>
     <div class="row">
        <img id="imgsobre" src="assets/banner1.png" alt="imagen portfolio">
     </div>
</div> 