<!--educacion-->
<div class="container">
<div class="row text-center">
	<div class="col-12">
	</div>
	<h1 class="educacion"><strong>Educacion</strong> </h1>
</div>
    <div class="row">
		<div class="col-4">
<img id="imgedu" src="assets/logoet.jpg" alt="logo escuela">
		</div>
	<div class="col-8 textoet"><strong>
		Escuela Tecnica N° 5<br>
		1994-2000 <br>
		Tecnico en computacion
	</strong>
	</div>
	</div>
	<div class="row">
		<div class="col-4">
			<img id="imgcert"src="assets/certificado.jpg" alt="certificado">
		</div>
		<div class="col-8 textoet"><strong>
			Primera Etapa Argentina programa <br>
			2022
		</strong>

		</div>
	</div>
</div>
	
  
