.educacion{
    margin-top: 10%;
    font-size: 4rem;
    color:rgb(115, 10, 253);
    -webkit-text-stroke: 1px rgb(245, 235, 235);
}
#imgedu{
    border: 1px solid black;
    margin-top: 10%;
    margin-left: 50%;
    width: 50%;
    opacity: 0.9;
    
}
.textoet{
    margin-top: 5%;
    font-size: large;
    color: white;
    
}
#imgcert{
    width: 50%;
    margin-left: 50%;
    margin-top: 5%;
    border: 1px solid black;
    opacity: 0.9;
}