<div class="container">
    <div class="row text-center">
        <div class="col-12">
        <h1 class="proyectos"><strong>Proyectos</strong> </h1>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-6">
    <img id="imgportfolio"src="assets/imgbanner.jpg" alt="imagen portfolio">
    <h2 class="text-white pt-5"><strong>Proyecto Final Portfolio para Argentina Programa</strong> </h2>
        </div>
        <div class="col-6">
     <img id="imgingenio"src="assets/ingeniobanner.jpg" alt="imagen ingenio">
     <h2 class="text-white pt-5"><strong>Proyecto Final curso Desarrollo Web</strong></h2>
      </div>
    </div> 
</div>
