<nav class="navbar">
 <div class="container">
	  <a class="navbar-brand" href="https://argentinaprograma.inti.gob.ar/">
		<img src="./assets/APLogo-20-20.png" alt="LOGO" width="15%">
	  </a>
	  <ul class="list-group list-group-horizontal">
		<li class="list-group-item"><a class="fa-brands fa-square-facebook" href="https://www.facebook.com/monicasilvanagalvan"></a>
		<li class="list-group-item"><i class="fa-solid fa-user-gear" button type="button"  data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo"></i>
		</ul>
	 <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog">
	  <div class="modal-content">
		<div class="modal-header">
		  <h5 class="modal-title" id="exampleModalLabel">USUARIO</h5>
		</div>
		<div class="modal-body">
		  <div class="mb-3 row">
			<label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
			<div class="col-sm-10">
			  <input type="text" class="form-control" id="staticEmail" value="email@dominio.com">
			</div>
		  </div>
		  <div class="mb-3 row">
			<label for="inputPassword" class="col-sm-3 col-form-label">Contraseña</label>
			<div class="col-sm-10">
			  <input type="password" class="form-control" id="inputPassword">
			</div>
		  </div>
		</div>
		<div class="modal-footer">
		  <button type="button" class="btn btn-danger" data-bs-dismiss="modal">CERRAR</button>
		  <button type="button" class="btn btn-success">INGRESAR</button>
		</div>
	   </div>
	  </div>
	  </div>
	</div>
</nav>


	
